.container {
  display: flex;
  justify-content: center;
}

.navBarMenu {
  border: 1px solid #020202;
}

.navBarMenuItem {
  padding: 10px;
  margin: 10px;

  & a {
    text-decoration: none;
    color: red;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 10px 20px;
  }
}